<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fi">
    <head>
        <meta charset="UTF-8" />
        <title>Myyntitykki</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    <body class="container">
        <h3>Myyjät</h3>
        
        <table th:each="henkilo: ${henkilot}">
            <tr>
                <td th:text="${henkilo.nimi}"></td>
                <td>&nbsp;</td>
                <td th:text="${#numbers.formatDecimal(henkilo.longitudi, 1, 6, 'COMMA')}"></td>
                <td>&nbsp;</td>
                <td th:text="${#numbers.formatDecimal(henkilo.latitudi, 1, 6, 'COMMA')}"></td>
             </tr>
        </table>

        <p><a th:href="@{/}">Takaisin</a></p>
        <p><a th:href="@{/asiakkaat}">Asiakkaat</a></p>
        <p><a th:href="@{/tehtavat}">Jaa tehtäviä</a></p>
    </body>
</html>