<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fi">
    <head>
        <meta charset="UTF-8" />
        <title>Myyntitykki</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    <body class="container">
        <h1>Myyntitykki</h1>
        <p><a th:href="@{/signup}">Myyjät</a></p>
        <p><a th:href="@{/asiakkaat}">Asiakkaat</a></p>
        <p><a th:href="@{/tehtavat}">Jaa tehtäviä</a></p>
    </body>
</html>