<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fi">
    <head>
        <meta charset="UTF-8" />
        <title>Myyntitykki</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>

    <body class="container">
        <h3>Tehtävät</h3>

        <form method="POST" th:action="@{/tehtavat}">
            <table>
                <tr>
                    <td><label>Asiakas:</label></td>

                    <td><select name="asiakasId">
                            <option th:each="asiakas : ${asiakkaat}" th:value="${asiakas.id}" th:text="${asiakas.nimi}">asiakas</option>
                        </select>
                    </td>

                    <td><label>Myyjä:</label></td>

                    <td><select name="myyjaId">
                            <option th:each="myyja : ${henkilot}" th:value="${myyja.id}" th:text="${myyja.nimi}">myyjä</option>
                        </select>
                    </td>

                    <td><input type="submit" value="Lisää" /></td>
                </tr>
            </table>
        </form>
        <p/>
        <table>
            <tr th:each="tehtava: ${tehtavat}">
                <td><b><span th:text="${tehtava.asiakas.nimi}"></span></b></td>
                <td>&nbsp;</td>
                <td><i><span th:text="${tehtava.myyja.nimi}"></span></i></td>
                <td>&nbsp;</td>
                <td><span th:text="${tehtava.arvioituMyynti}"></span></td>
                <td>&nbsp;</td>

                <td>
                    <form method="POST" th:action="@{/tehtavat/{tehtavaId}/myyja(tehtavaId=${tehtava.id})}">
                        <select name="myyjaId">
                            <option th:each="myyja : ${henkilot}" th:value="${myyja.id}" th:text="${myyja.nimi}">myyjä</option>
                        </select>
                        <input type="submit" value="Muuta myyjä" id="lisaa_myyjalle"/>
                    </form>
                </td>
            </tr>
        </table>

        <p><a th:href="@{/}">Takaisin</a></p>
        <p><a th:href="@{/signup}">Myyjät</a></p>
        <p><a th:href="@{/asiakkaat}">Asiakkaat</a></p>
    </body>
</html>